<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>钢铁笨</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../CSS/register.css">
</head>
<body>
	<div>
		<form method="get" action="/login">
			<input name="number" type="test" placeholder="账号" /><br>
			<input name="password" type="test" placeholder="密码" /><br>
			<input name="login" type="submit" value="登录" />
		</form>
		<form method="get" action="/creat">
			<input name="userCreat" type="submit" value="注册" />
		</form>
	</div>	
<!-- JavaScript -->
	<script type="text/javascript" src="JavaScript\register.js"></script>
</body>
</html>



