<!DOCTYPE	html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>钢铁笨</title>
	<link rel="stylesheet" type="text/css" href="..\CSS\userCreat.css">
</head>
<body>
	<form method="get" action="/addUser">
		<input name="number" type="test" placeholder="请输入账号" /><br>
		<input name="name" type="test" placeholder="请输入姓名" /><br>
		<input name="password" type="test" placeholder="请输入密码" /><br>
		<input name="addUser" type="submit" value="完成注册" />
	</form>
	<!-- <script type="text/javascript" src="JavaScript/userCreat.js"></script></body> -->
</html>